<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HANMISYSTEM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <userSettings>
    <HANMISYSTEM.Properties.Settings>
      <setting name="uid" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="pwd" serializeAs="String">
        <value>12345678</value>
      </setting>
      <setting name="username" serializeAs="String">
        <value />
      </setting>
      <setting name="status" serializeAs="String">
        <value>Stop line</value>
      </setting>
      <setting name="keeporder" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="servername" serializeAs="String">
        <value>hamisrv</value>
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
      <setting name="rememberme" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="culture" serializeAs="String">
        <value>vi-VN</value>
      </setting>
      <setting name="comport" serializeAs="String">
        <value>COM1</value>
      </setting>
      <setting name="baudrate" serializeAs="String">
        <value>9600</value>
      </setting>
    </HANMISYSTEM.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="HANMI" connectionString="data source=HANMISYS-PC;initial catalog=HANMI;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="HANMISYSTEM.Properties.Settings.HANMIConnectionString"
      connectionString="Data Source=HANMISYS-PC;Initial Catalog=HANMI;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
